/* System-Wide */

html, body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;

	--main-text-color: #323232;
	--green: #588157;
	--green-dark: #3A5A40;

	color: var(--main-text-color);

	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}


/* Spacing/Layout */

.width-full {
	width: 100%;
}

.float-left {
	float: left;
}

.padded-8 {
	padding: 8px;
}

.padded-left-8 {
	padding-left: 8px;
}

.padded-right-8 {
	padding-right: 8px;
}

.gutter-left {
	padding-left: 320px;
}

@media screen and (max-width: 1280px) {
	.gutter-left {
		padding-left: 64px;
	}
}

.gutter-right {
	padding-right: 300px;
}

@media screen and (max-width: 1280px) {
	.gutter-right {
		padding-right: 64px;
	}
}

.height-64 {
	height: 64px;
}

.line-height-64 {
	line-height: 64px;
}

/* Colors */

.white-text {
	color: #ffffff;
}

.green-back {
	background-color: var(--green);
}

/* Text */

.text-underlined {
	text-decoration: underline;
}

.text-title {
	font-size: 6em;
	color: var(--green-dark);
}

.text-bold {
	font-family: 'Montserrat', sans-serif;
}
