<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>All Posts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
	<meta name="description" content="All blog posts from James Holdren">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	{{layout(header)}}
	<section class="with-gutter">
		<h1>All Posts</h1>
		{{val(posts)}}
	</section>

  {{layout(footer)}}
</body>

</html>
