<!DOCTPYE HTML>
<html>

<head>
	<title>James Holdren</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	{{header}}
	<section class="with-gutter">
		<h1>Latest Posts</h1>
		{{latest_posts}}
	</section>

	<section class="with-gutter">
		<h1>Projects</h1>
		<a href="https://github.com/bignerdranch/upfront">
			<div class="project">
				<h2>Upfront</h2>
				<div>A wrapper for Go handlers that uses generics to clean up boilerplate (and remove some sharp edges).</div>
			</div>
		</a>
	</section>

	<section class="with-gutter">
		<h1>Links</h1>
		<ul>
			<li><a href="https://github.com/jdholdren">Github</a></li>
			<li><a href="https://twitter.com/JamesHoldren">Twitter</a></li>	
		</ul>
	</section>
</body>

</html>
