<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{val(title)}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="{{description}}">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	{{val(header)}}

  <div class="post with-gutter">
    <div class="publish-date">{{val(publish_date)}}</div>
    <h1 class="post-title">{{val(title)}}</h1>

    {{val(contents)}}
  </div>

  {{val(footer)}}
</body>

</html>

