/* System-Wide */

html, body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;

	--main-text-color: #323232;
	--green: #3e7f42;
	--green-dark: #4a6741;

	color: var(--main-text-color);

	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0px;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}


/* Spacing/Layout */

.width-full {
	width: 100%;
}

.float-left {
	float: left;
}

.padded-8 {
	padding: 8px;
}

.padded-left-8 {
	padding-left: 8px;
}

.padded-right-8 {
	padding-right: 8px;
}

.gutter-left {
	padding-left: 320px;
}

.gutter-right {
	padding-right: 320px;
}

.height-64 {
	height: 64px;
}

.line-height-64 {
	line-height: 64px;
}

/* Colors */

.white-text {
	color: #ffffff;
}

.green-back {
	background-color: var(--green-dark);
}

/* Text */

.text-underlined {
	text-decoration: underline;
}
